 /*CSS HEX 
--persian-blue: #192bc2ff;
--middle-blue: #5ac3daff;
--nyanza: #eeffdbff;
--heliotrope-gray: #998da0ff;
--onyx: #3c3c3bff;

 CSS HSL 
--persian-blue: hsla(234, 77%, 43%, 1);
--middle-blue: hsla(191, 63%, 60%, 1);
--nyanza: hsla(88, 100%, 93%, 1);
--heliotrope-gray: hsla(278, 9%, 59%, 1);
--onyx: hsla(60, 1%, 23%, 1);

 SCSS HEX 
$persian-blue: #192bc2ff;
$middle-blue: #5ac3daff;
$nyanza: #eeffdbff;
$heliotrope-gray: #998da0ff;
$onyx: #3c3c3bff;

 SCSS HSL 
$persian-blue: hsla(234, 77%, 43%, 1);
$middle-blue: hsla(191, 63%, 60%, 1);
$nyanza: hsla(88, 100%, 93%, 1);
$heliotrope-gray: hsla(278, 9%, 59%, 1);
$onyx: hsla(60, 1%, 23%, 1);

 SCSS RGB 
$persian-blue: rgba(25, 43, 194, 1);
$middle-blue: rgba(90, 195, 218, 1);
$nyanza: rgba(238, 255, 219, 1);
$heliotrope-gray: rgba(153, 141, 160, 1);
$onyx: rgba(60, 60, 59, 1);

 SCSS Gradient 
$gradient-top: linear-gradient(0deg, #192bc2ff, #5ac3daff, #eeffdbff, #998da0ff, #3c3c3bff);
$gradient-right: linear-gradient(90deg, #192bc2ff, #5ac3daff, #eeffdbff, #998da0ff, #3c3c3bff);
$gradient-bottom: linear-gradient(180deg, #192bc2ff, #5ac3daff, #eeffdbff, #998da0ff, #3c3c3bff);
$gradient-left: linear-gradient(270deg, #192bc2ff, #5ac3daff, #eeffdbff, #998da0ff, #3c3c3bff);
$gradient-top-right: linear-gradient(45deg, #192bc2ff, #5ac3daff, #eeffdbff, #998da0ff, #3c3c3bff);
$gradient-bottom-right: linear-gradient(135deg, #192bc2ff, #5ac3daff, #eeffdbff, #998da0ff, #3c3c3bff);
$gradient-top-left: linear-gradient(225deg, #192bc2ff, #5ac3daff, #eeffdbff, #998da0ff, #3c3c3bff);
$gradient-bottom-left: linear-gradient(315deg, #192bc2ff, #5ac3daff, #eeffdbff, #998da0ff, #3c3c3bff);
$gradient-radial: radial-gradient(#192bc2ff, #5ac3daff, #eeffdbff, #998da0ff, #3c3c3bff);*/