html {
    height:100%;
    background-color: #eeffdbff
}

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto&display=swap');

.header {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #5ac3daff;
    font-family: 'Courier New', monospace;

}

#title_logo {
    height:fit-content;
    display:flex;
    align-items: center;

}

#logo_image {
    width:9em;
    height:auto;
    margin:10px;
}

#title {
    font-weight:normal;
    color:#eeffdbff;
    font-family: 'Caveat Brush', cursive;
    font-size: 5em;
    margin:0px;
    margin-left: 20px;

}


a {
    color:white;
    text-decoration: none;
}

a:hover {
    filter: brightness(0.93);
}

#left_headings, #right_headings {
    flex:1;
    display:flex;
    gap:5em;
    font-size: x-large;
}

#left_headings {
    justify-content:left;
    padding-left:3em;
}

#right_headings {
    justify-content: right;
    padding-right:3em;
}

.content {
    display:flex;
    flex-direction: column;
    align-items: center;

}

#portfolio {
  font-family:  'Caveat Brush', cursive;
  font-size: 4em;
  color: #3c3c3bff;
  text-decoration: underline;
  /*background-image: url("https://spng.pngfind.com/pngs/s/115-1151935_line-clipart-music-notes-clipart-house-clipart-online.png");
  background-position: 0 1.06em;
  background-size: 15px 9px;
  background-repeat: repeat-x;*/
}

.gallery {
  display:flex;
  flex-wrap: wrap;
  border: 1px solid blue;
  width: 90%;
  margin: 5%;

}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  margin: 3%;
  padding: 1%;
  border: 1px solid black;

}

.images {
  display:flex;
  width: 90%;
  justify-content: space-around;

}

#photo {
  margin: 10px;
  width: auto;
  height: auto;
  max-width:136px;
  max-height: 76.5px;
}





footer {
    height:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3c3c3bff;
    filter: brightness(0.93);
}
